// Override Default Variables
// https://getbootstrap.com/docs/5.0/customize/sass/#variable-defaults
// Colors from https://hookagency.com/website-color-schemes/

$primary: #66fd97;
$secondary: #009566;
$accent1: #9DC88D;
$font: #495057;
$background: #FFFFFF;
$link: #3773c2;
