@import "../../styles/variables";

.reactOsmGeocoding .results {
    border: 1px solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    padding: 5px 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-color: aliceblue;
    max-height: 150px;
    width: 63%;
    overflow: scroll;
    margin-top: -15px;
    z-index: 1;
    position: absolute;
}

.reactOsmGeocoding .results .result {
    padding: 5px;
    cursor: pointer;
}
.reactOsmGeocoding .results .result:hover {
    background-color: $accent1;
}

.reactOsmGeocoding .loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid $primary;
    border-radius: 50%;
    animation: spin 2s linear infinite;

    position: absolute;
    top: 40px;
    right: 25px;
    width: 10px;
    height: 10px;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}